/* css reset  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 900px;
    /* border: 1px solid black; */
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 1180px;
    background-color: gold;
    /* margin: 0 auto 0 auto; */
    /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
}
