<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <!-- ============== section hero image ========== -->
    <section class="heroImg">
        <div class="container">
            <div class="row">
                <div class="col3">
                    Logo
                </div>
                <div class="col9">
                    Navbar
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </section>

    <!-- ============== section getway ========== -->

    <section class="getWay">

    </section>

    <!-- ============== section thumbnail ========== -->
    <section class="thumbnail">

    </section>
    <!-- ============== section signup ========== -->
    <section class="signUp">

    </section>
    <!-- ============== section thumbnail ========== -->
    <section class="thumbnail">

    </section>
    <!-- ============== section footer ========== -->
    <footer>

    </footer>
</body>

</html>